<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>My App</title>
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" href="angular-ui-grid/ui-grid.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="angular-xeditable/dist/css/xeditable.min.css">
	</head>
	<body class="space-from-top-of-browser space-from-bottom-of-browser">
		<div class="container" ng-controller="MainController">
			<div pagination></div>
			
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th ng-repeat="column in options.columnDefinitions track by $index" table-header options="column"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="column in options.data | orderBy:sortType:sortReverse" table-cell-directive="options" column="column">
					</tr>
				</tbody>
			</table>
			<div pagination></div>
		</div>
		
		<script data-main="js/config.js" src="requirejs/require.js"></script>
	</body>
</html>