.space-from-top-of-browser {
	padding-top: 100px
}

.space-from-bottom-of-browser {
	padding-bottom: 100px
}

.pagination-container {
	float: left
}

.pagination-container .pagination {
	margin: 0
}

.pagination-form {
	float: left;
	margin-left: 20px
}

.pagination-form--no-pagination-links {
	margin-bottom: 10px
}