<nav class="clearfix">
	<div class="pagination-container" ng-if="showPagination">
		<uib-pagination total-items="$parent.totalLength" ng-model="$parent.currentPage" items-per-page="$parent.perPage" max-size="5" force-ellipses="true" boundary-link-numbers="true"></uib-pagination>
	</div>
	<form class="form-inline {{classForPaginationForm}}">
		<div class="form-group"  ng-if="showPagination">
			<label for="">Page</label>
		<select class="form-control" ng-model="$parent.goToPage" ng-options="option for option in $parent.dropDownPagination"></select>
	</div>
	<div class="form-group">
		<label for="">Items per page</label>
		<select class="form-control" ng-model="perPage" ng-init="perpage = perPageOptions[0]" ng-options="option for option in perPageOptions">
		</select>
	</div>
</form>
</nav>